*.pyc
*.pyo
*.pyd
*.log
screenshots/
*.so
*.DS_Store
.idea
venv/
*.json
!win32/.vscode/tasks.json
!linux/.vscode/tasks.json
!darwin/.vscode/tasks.json
*.buildings
*.trackRecords
local/
errorCode
screenshots/
libotp/
libtoontown/
*.egg
Housekeeper/
*.txt
*.cfg
sign/
*.mf
*.yaml
phase_3/maps/news
news/
resources/phase_3.5/maps/toontown_map - Backup.jpg
