*.pyc
*.pyo
*.pyd
*.log
screenshots/
*.so
*.DS_Store
.idea
venv/
*.json
!win32/.vscode/tasks.json
!linux/.vscode/tasks.json
!darwin/.vscode/tasks.json
*.buildings
*.trackRecords
local/
errorCode
screenshots/
libotp/
libtoontown/
news/
*.egg
Housekeeper/
*.txt
*.cfg
sign/
sign/texture.jpg
