*.pyc
*.pyo
*.pyd
*.log
user/screenshots/
screenshots/
*.so
*.DS_Store
.idea
venv/
*.json
!win32/.vscode/tasks.json
!linux/.vscode/tasks.json
!darwin/.vscode/tasks.json
*.buildings
*.trackRecords
local/
errorCode
libotp/
libtoontown/
*.egg
Housekeeper/
*.txt
*.cfg
sign/
*.mf
*.yaml
news/
toontown/installer
*.lnk
*.code-workspace
build/
